@import "../../styles/variables.scss";

.card {
  width: 410px;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  .overlay {
    position: absolute;
    height: 280px;
    width: 410px;
    border-radius: 10px;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 71.76%,
      rgba(0, 0, 0, 0.6) 100%
    );
  }
  &__image {
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
  }
  &__photographer {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: $white;
    top: 240px;
    left: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__title {
    padding-top: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    color: $black;
  }
  &__location {
    padding-top: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    img {
      padding-right: 8px;
    }
  }
}

.card:hover {
  scale: 102%;
  transition: all 0.2s ease-in-out;
}
