@import "../../styles/variables.scss";

.searchPage {
  &__search {
    height: 606px;
    background-image: url("../../assets/background/mainBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    &-title {
      padding-top: 76px;
      max-width: 820px;
      margin: 0 auto;
      font-weight: 600;
      font-size: 60px;
      line-height: 60px;
      text-align: center;
      color: $whiteText;
    }
    &-descr {
      padding-top: 28px;
      max-width: 690px;
      margin: 0 auto;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $whiteText;
    }
    &-input {
      margin-top: 76px;
      display: flex;
      justify-content: center;
      height: 60px;
      input {
        width: 480px;
        height: inherit;
        background: transparent;
        border-radius: 0.375rem 0 0 0.375rem;
        color: $whiteText;
        border-width: 2px;
        border-style: solid;
        border-color: $whiteText;
        padding-left: 17px;
      }
      input::placeholder {
        color: $textPlaceholder;
      }
      button {
        width: 163px;
        height: inherit;
        background: $whiteText;
        border-radius: 0px 8px 8px 0px;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $black;
        border-width: 2px;
        border-style: solid;
        border-color: $whiteText;
      }
    }
    &-topics {
      display: flex;
      justify-content: center;
      margin-top: 80px;
      gap: 16px;
      h5 {
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #acacac;
        display: flex;
        align-items: center;
      }
      button {
        padding: 8px 20px;
        border: none;
        border-radius: 4px;
        background: $btnBg;
      }
    }
  }
  &__filters {
    padding-top: 24px;
    &-header {
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        height: 42px;
        border: 1px solid $whiteTextDisabled;
        border-radius: 4px;
        padding: 8px 16px;
        display: flex;
        gap: 14px;
        align-items: center;
        background-color: $white;
      }
    }
    &-wrapper {
      padding-top: 56px;
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
    }
  }
  &__results {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .yearPicker {
    width: 290px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    input {
      width: inherit;
      padding: 0 8px;
      margin-top: 12px;
      height: 40px;
      border: 1px solid $whiteTextDisabled;
      border-radius: 4px;
      border: 1px solid $whiteTextDisabled;
    }
  }

  .skeleton-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
  }

  .filters-submit-btn {
    height: 40px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    border: 1px solid $whiteTextDisabled;
    background: $black;
    color: $white;
    white-space: nowrap;
  }

  .react-datepicker {
    border: none;
    background-color: #f4f4f4;
  }
  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__year-wrapper {
    max-width: 260px;
    display: flex;
    justify-content: center;
    border: none;
  }
  .react-datepicker__header {
    height: 48px;
    background: #000000;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #fdfdfd;
  }

  .react-datepicker__year-text {
    width: 82px !important;
    height: 40px;
    padding-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  .react-datepicker__year-text--selected {
    background-color: $black;
  }

  .react-datepicker__year-text--keyboard-selected {
    background-color: $black;
    color: $white;
  }
  .react-datepicker__year-text--keyboard-selected:hover {
    background-color: $black;
    color: $white;
  }

  .react-datepicker__navigation--previous {
    top: 12px;
  }
  .react-datepicker__navigation--next {
    top: 12px;
  }
}
